@font-face {
    font-family: Kurale;
    src: url("fig/fonts/Kurale-Regular.ttf");
}

@font-face {
    font-family: Saira;
    src: url("fig/fonts/Saira-Regular.ttf");
}

body {
    font-family: Saira, serif;
    letter-spacing: -1.3px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    margin: 0.4rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

svg {
    height: auto;
}

button {
    border: 0;
    background: none;
}

button svg {
    cursor: pointer;
}

label {
    font-size: 1.5rem;
    margin-right: 1em;
}

input, select {
    border: 0;
    outline: none;
    border-radius: 10px;
    letter-spacing: 1px;
}

.white-outline input:focus-visible {
    filter: drop-shadow(0 0 0.5rem #F8F8F8);
}

.v-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-center {
    display: flex;
    align-items: center;
}

.h-end {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.h-stretch-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-stretch-center .Button {
    margin-right: 2em;
}

.evenly {
    display: flex;
    justify-content: space-evenly;
}

.Input {
    display: flex;
    margin-bottom: 1em;
}

.Input input, .Input select {
    background: black;
    color: #F8F8F8;
    padding: 0.5em 1em;
}

.plus-button {
    margin: 2em;
}

.plus-button svg {
    width: 4.5em;
    height: auto;
}

.Message {
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(248, 248, 248, 0.8);
    z-index: 100;
}

.Button {
    font-size: 1.2rem;
    padding: 0.5em 2em;
    border-radius: 20px;
    font-weight: lighter;
    cursor: pointer;
    height: fit-content;
}

.PalletColor {
    background-color: black;
    color: #F8F8F8;
    border-radius: 15px;
    padding: 1em 2em;
    width: fit-content;
}

.PalletColor h3 {
    margin: 0;
}

.PalletColor div {
    padding: 0.2em 0.5em;
    background: #F8F8F8;
    border-radius: 25px;
    width: 5.5em;
}

.PalletColor svg {
    color: black;
    width: 1em;
    margin-top: 0.1em;
}

.PalletColor input[type="color"] {
    width: 3em;
    height: 3em;
    margin: 1.5em 0;
    box-shadow: 0 0 4px 3px #F8F8F8;
    border: 1px solid black;
    outline: 1px solid black;
    padding: 0;
    border-radius: 0;
}

.PalletColor input[type="text"] {
    background: inherit;
    width: 4.5em;
    text-align: center;
    color: black;
    padding: 0;
}

.PageTitle {
    display: flex;
    font-size: 1.4rem;
}

.PageTitle svg {
    width: 4em;
    height: auto;
    margin: 0 1.5em 0 2em;
}


.MainPage h1 {
    font-family: Kurale, serif;
    font-size: 4em;
    margin-top: 12rem;
}

.MainPage button {
    margin-top: 2em;
}

.log-in-background {
    background-color: black;
    color: #F8F8F8;
    padding: 4em 0;
    margin-bottom: 3em;
}

.LogInPage h1 {
    font-size: 2.5rem;
}

.LogInPage label {
    font-size: 2rem;
    margin-right: 1em;
}

.LogInPage input {
    padding: 1em;
    background: #F8F8F8;
    color: black;
}

.login-inputs {
    display: flex;
    flex-direction: column;
}

.login-inputs .Input {
    margin-bottom: 2em;
}

.password {
    display: flex;
    align-items: center;
}

.password svg {
    transform: translate(-3.5em, -1em);
    width: 1.7em;
}

.SystemNavigation {
    display: flex;
    gap: 8em;
    margin: 2em auto;
    justify-content: center;
}

.user-info {
    gap: 5.5em;
    text-align: center;
}

.user-info button {
    display: block;
    margin-bottom: 1em;
    width: 12em;
}

.user-info svg {
    width: 13em;
}

.nav-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.nav-panel button {
    width: 12em;
    height: 4em;
}

.product-card {
    padding: 1.5em 2.5em;
    background-color: black;
    border-radius: 15px;
    color: #F8F8F8;
}

.product-card img {
    width: 7em;
    height: 9em;
}

.product-card button {
    font-size: inherit;
    display: block;
    margin: 1em auto 0 auto;
}

.ProductsPage .plus-button {
    float: right;
}

.left-arrow svg, .right-arrow svg {
    width: 4em;
}

.left-arrow {
    visibility: hidden;
}

.ProductInfo {
    align-items: center;
}

.ProductInfo button[type="delete"] {
    margin-right: 1.5em;
}

.add-product-image {
    background: black;
    padding: 1.5em;
    width: 7.5em;
    border-radius: 15px;
    margin-bottom: 1em;
}

.add-product-image img {
    width: 5em;
    height: 6.5em;
    cursor: pointer;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.standards-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.standards-input {
    background-color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #F8F8F8;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 0;
    cursor: pointer;
}

.ProductionPlan {
    display: flex;
    align-items: center;
    width: 30em;
    overflow: scroll;
    overflow-y: hidden;
    margin: 1em 0 2em 0;
}

.ProductionPlan p,
.ProductionPlan input {
    white-space: nowrap;
}

.ProductionPlan svg {
    width: 2em;
}

.ProductionPlanItem {
    background: black;
    color: #F8F8F8;
    padding: 1em 1.5em;
    width: fit-content;
    height: inherit;
    border-radius: 10px;
    cursor: pointer;
}

.ProductionProcessDetails {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background: black;
    color: #F8F8F8;
    border: 1px solid #F8F8F8;
    width: 12em;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.ProductionProcessDetails label {
    font-size: 1.1rem;
}

.ProductionProcessDetails input,
.ProductionProcessDetails select {
    width: 12em;
    font-size: 0.7rem;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 15px;
}

.ProductionProcessDetails svg {
    width: 2em;
    color: #F8F8F8;
}

.AddProcess input {
    background: inherit;
    color: #F8F8F8;
    width: inherit;
    letter-spacing: 0;
    margin: 0.4rem 0;
    font-size: 0.9rem;
}

.AddProcess div {
    display: flex;
    width: inherit;
}

.AddProcess p {
    margin-right: 0.1em;
}

.ProductionItem {
    display: flex;
    flex-direction: column;
    width: 50em;
    float: right;
    margin-right: 1em;
}

.order-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.2rem;
}

.order-info div {
    display: flex;
}

.order-info svg {
    width: 1.5em;
    margin: 0.4em 0.3em 0 0;
    cursor: pointer;
}

.line {
    height: 2px;
    width: inherit;
    background: black;
}

.production-info {
    display: flex;
    overflow: scroll;
}

.production-info img {
    width: 5em;
    height: 5em;
}

.production-info svg {
    width: 1.5em;
}

.process-item {
    border: 2px solid black;
    border-radius: 15px;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
    font-size: 0.8rem;
    width: max-content;
}

.graphical-stock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.StockBox {
    background: black;
    padding: 1em;
    gap: 0.5em;
}

.vertical-stock-box {
    display: flex;
    flex-direction: column;
}

.vertical-stock-boxes {
    display: flex;
    gap: 2.3em;
}

.horizontal-stock-box {
    width: 7em;
    height: 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.StockPlace, .StockPlace svg {
    cursor: pointer;
    min-width: 1.3rem;
    height: 1.3rem;
}

.StockPlace {
    border: 1px solid black;
}

.StockList {
    border: 2px solid black;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 16em;
}

.StockList li {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1em 1.5em;
    font-size: 0.7rem;
    letter-spacing: 0;
}

.StockList h3 {
    font-size: 1rem;
    margin: 0;
}

.stock-pallets {
    width: inherit;
    max-height: 19em;
    overflow: scroll;
    overflow-x: hidden;
}

.table-container {
    border-collapse: collapse;
    border-radius: 15px;
    border: 1px solid black;
    overflow: hidden;
    width: fit-content;
    height: 25em;
}

.OrdersPage {
    display: flex;
    justify-content: space-around;
}

.OrdersPage table {
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.OrdersPage tbody {
    overflow: scroll;
}

.OrdersPage th, .OrdersPage td {
    text-align: center;
    padding: 0.5em 1em;
    border: 1px solid;
}

.OrdersPage th {
    background-color: black;
    border-color: #F8F8F8;
    color: #F8F8F8;
}

.OrdersPage td {
    border-color: black;
}

.OrdersPage td button {
    font-size: 0.8rem;
}

.OrdersPage td button svg {
    width: 1.2em;
}

.OrdersPage td:last-child div {
    display: flex;
}

.OrdersGraph {
    width: 25em;
    height: 23em;
}

.TestingPage {
    width: max-content;
    margin: 0 auto;
}

.TestingPage h1 {
    font-size: 2.3rem;
    margin: 0;
}

.TestingPage .line {
    width: unset;
}

.testing-items {
    overflow: scroll;
    max-height: 21em;
}

.TestingItem {
    display: grid;
    grid-template-columns: repeat(7, 0.3fr);
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-radius: 15px;
    color: #F8F8F8;
    padding: 0.2em 0.5em;
    margin-top: 2em;
}

.testing-items p,
.testing-items label,
.testing-items select {
    margin: 0;
    padding: 1.5em 1em;
}

.side-white-border {
    border-right: 2px solid #F8F8F8;
}

.testing-items select {
    background-color: black;
    color: #F8F8F8;
    margin-right: 1.5em;
    border-radius: 0;
}

.testing-items button {
    width: min-content;
    margin: 0 1em;
}

.testing-items svg {
    width: 2em;
    color: #F8F8F8;
}

.test-results {
    background-color: #F8F8F8;
    color: black;
    padding: 0;
}

.hidden-input {
    display: none;
}

.test-results label {
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.QualityControlPage {
    display: flex;
    justify-content: space-evenly;
}

.ResultsTable {
    border: 1px solid black;
    border-radius: 10px;
}

.results-head {
    background-color: black;
    color: #F8F8F8;
    text-align: center;
    border-radius: 10px;
    padding: 0.5em 0.5em;
}

.results-body {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 1em;
    padding-right: 1em;
    height: 18em;
    overflow: scroll;
}

.ResultsItem {
    display: flex;
    gap: 2em;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 0.2em 2em;
    font-size: 0.8rem;
}

.ResultsItem div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.ResultsItem .test-info {
    padding: 1em 0;
}

.ResultsItem .test-info p {
    border-bottom: 2px solid #F8F8F8;
    margin-right: 1em;
}

.ResultsItem, .ResultsItem button {
    font-size: 0.8rem;
}

.document-boxes div {
    border: 1px solid #F8F8F8;
    border-radius: 10px;
    height: fit-content;
}

.document-boxes div p{
    padding: 0.1em 0.5em;
}

.document-boxes div p:last-child {
    border-top: 1px solid #F8F8F8;
    cursor: pointer;
}

.AdminPage {
    height: 24em;
    overflow: scroll;
}

.EmployeeList {
    margin: 0 3em;
}

.department-title {
    display: flex;
    align-items: end;
}

.department-title h2 {
    display: inline;
    margin-bottom: 0.3em;
}

.department-title svg {
    width: 1.5em;
    cursor: pointer;
    margin: 0 0.5em 0.5em 0;
}

.EmployeeList .line {
    margin-bottom: 1em;
}

.employee-cards {
    display: flex;
    gap: 2em;
    overflow: scroll;
}

.EmployeeCard {
    font-size: 0.8rem;
    letter-spacing: 0.05px;
    border: 1px solid black;
    padding: 1em 1.5em;
    border-radius: 10px;
    text-align: center;
    min-width: 7em;
}

.EmployeeCard svg {
    width: 4em;
}

.EmployeeCard button {
    font-size: 0.7rem;
}

.authorization-data {
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 1em;
}

.EmployeeInfo, .OrderInfo,
.MaterialInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 5em 0 5em;
    min-height: 23em;
}

.input-field {
    width: fit-content;
}

.bottom-buttons {
    display: flex;
    justify-content: end;
}

/*apply to others*/
.bottom-buttons button:last-child {
    margin-left: 2em;
}